
[submodule "lib/scroll"]
	path = lib/scroll
	url = https://github.com/flesler/jquery.scrollTo.git
[submodule "lib/billboard"]
	path = lib/billboard
	url = https://github.com/jedfoster/Readmore.js.git
