<!DOCTYPE html>
<html style="overflow-x:hidden">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

      {% include head.html %}
    </head>

  
  <body>

    {{ content }}
    {% include footer.html %}

  </body>


    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.fittext.js"></script>
    <script src="/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/creative.js"></script>

    <!-- Read More-->
    <script src="/lib/billboard/readmore.min.js"></script>
    <script type="text/javascript" src="/lib/scroll/jquery.scrollTo.min.js"></script>

    <script type="text/javascript">
        $('article').readmore({
            speed: 1000,
            moreLink: '<a href="#">Leer más</a>',
            lessLink: '<a href="#">Cerrar</a>',
            collapsedHeight: 380,
            afterToggle: function(trigger, element, expanded) {
                if(! expanded) { // The "Close" link was clicked
                    $('html, body').scrollTo('#i_test',{
                        offsetTop     : 50,
                        duration      : 300,
                        easing        : 'swing'
                    })
                }
            }
        });    
    
    </script>

</html>
